<table class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Nombre</th>
      <th>Genero</th>
      <th>Detalles</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let persona of personal">
      <td>{{persona.id}}</td>
      <td>{{persona.nombre}}</td>
      <td>{{persona.genero}}</td>
      <td>
        <button [routerLink]="[ '/personal' , persona.id ]">Ver detalles</button>
        <button (click)="borrar(persona.id)">Eliminar</button>
      </td>
    </tr>
  </tbody>
</table>